* {
    padding: 0;
    margin: 0;
    font-family: 'IBM Plex Sans', sans-serif;
}

#icons {
    display: flex;
    gap: 12px;
}

header {
    padding: 0 300px;
    height: 100px;
    background-color: #1e191a;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#logo-img {
    width: 200px;
}

.img-nav {
    width: 25px;
}

.links-nav {
    text-decoration: none;
    color: #fff;
    margin: 0 10px;
}

.shop-info {
    display: flex;
    padding: 0 300px;
    gap: 30px;
    margin-top: 40px;
}

.product-small-img img{
    height: 92px;
    cursor: pointer;
    opacity: .6;
    transition: 0.2s ease-in-out;
}

.product-small-img img:hover{
    opacity: 1;
}

.img-container img{
    height: 500px;
}

hr {
    height: .2px;
    width: 200px;
    background: rgb(201, 201, 201);
    margin-bottom: 30px;
    border: 0;
}

.btn-info {
    width: 40px;
    height: 40px;
    background-color: #1e191a;
    border: 0;
    border-radius: 5px;
    padding-left: 20px;
}

.remove-btn {
    width: 170px;
    height: 50px;
    background-color: #a70626;
    border: 0;
    border-radius: 5px;
    color: #fff;
    font-weight: bold;
}

#info-text {
    padding-bottom: 7px;
}

#info-textt {
    padding-bottom: 15px;
}

#info-texttt {
    padding-top: 25px;
}

#p-text {
    padding-bottom: 30px;
}

#verificar {
    display: flex;
    padding-top: 25px;
}

#verificar img{
    height: 25px;
    width: auto;
    margin-right: 10px;
}

#ff {
    color: lightgray;
    font-size: 15px;
    margin-top: 3px;
}

#catalogo-img {
    width: 300px;
    height: 400px;
    object-fit: cover;
}

#cata {
    padding: 0 300px;
    display: flex;
    justify-content: center;
    gap: 50px;
}

.mg {
    margin-top: 40px;
}

.mg-top {
    margin-top: 40px;
}